
.container {
    margin-top: 4px;
    flex-direction: row;
    flex-wrap: wrap;
}

.chip-container {
    margin: 4px;
    border-radius: 32px;
    background-color: #e0e0e0;
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    background-color: #f1f1f1;  
}
.label {
    font-weight: bold;
    color: gray;
    font-size: 16px;
    margin-left: 8px;
}
.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }